#checkoutViewLeft {
	position: fixed;
	top: 0em;
	left: 0em;
	right: 20em;
	bottom: 3em;
	padding-top: 2em;
	text-align: center;
}

#checkoutViewBottomLeft {
	position: fixed;
	left: 0px;
	right: 20em;
	bottom: 0em;
	padding: 0.3em 0.2em 0.5em 0.2em;
	background-color: #D9D9B3;
}

#checkoutViewRight {
	position: fixed;
	top: 0em;
	right: 0em;
	bottom: 0em;
	width: 20em;
	padding-top: 0.8em;
	background-color: #EEE;
}

.dishOrderDetailLabel {
	width: 4em;
	height: 20px;
	background-color: #cbcbcb;
	display: inline-block;
	margin-left: 0.5em;
	margin-right: 0.5em;
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	text-align: center;
}

#orderItemListCaption {
	background-color: #D9D9B3;
	padding: 0.2em;
	margin: 0.5em 1em 0em 1em;
	overflow: hidden;
}

.paymentType {
	margin: 5px;
	display: block;
	text-align: center;
	width: 60px;
	display: inline-block;
	border: 0.15em solid #F63;
	background-color: #eee;
}

ul.round {
	margin-left: 10px;
	margin-right: 10px;
	background-color: #F9F9FA;
	text-align: left;
	font-size: 14px;
	line-height: 24px;
	overflow: hidden;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: solid #C2C2C2;
	border-width: 1px 1px 0 1px;
	box-shadow: 0 1px 1px #f6f6f6;
	list-style-type: none;
	padding: 0em;
}

.round>li {
	padding: 11px 10px;
	border: solid #C2C2C2;
	border-width: 0 0 1px 0;
}

.power>div {
	display: block;
	margin: 12px -10px -6px -10px;
	padding: 4px 10px 10px 10px;
	background-color: #eee;
	background-size: 40px 40px;
	box-shadow: inset 5px 5px 5px #d9d9d9, inset -5px -5px 5px #d9d9d9;
	-webkit-background-size: 40px 40px;
}

.round li.power {
	padding: 9px 10px 6px 10px;
}

.use { /*立即使用*/
	display: block;
	width: 219px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	font-size: 15px;
	text-shadow: 0 -1px #005300;
	font-weight: bold;
	margin: 9px auto 8px auto;
	box-shadow: inset 0 3px 2px #35cf35, inset 0 -1px 2px #207d20, 1px 1px
		2px #d1d1d1, -1px -1px 2px #d1d1d1;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-image: -ms-linear-gradient(top, #02c202, #01a801);
	background-image: -webkit-linear-gradient(top, #02c202, #01a801);
	background-image: -moz-linear-gradient(top, #02c202, #01a801);
	background-image: -o-linear-gradient(top, #02c202, #01a801);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#02c202),
		to(#01a801));
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,
		startColorstr='#02c202', endColorstr='#01a801');
	-ms-filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,
		startColorstr='#02c202', endColorstr='#01a801');
}

.couponTemplateItemOperation {
	float: right;
}

.couponTemplateItem {
	padding: 0.5em;
	margin: 0.5em;
	background-color: #eee;
}