.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}

.ui-radius {
	border-radius: 0.75em;
}

.ui-shadow {
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
}

.ui-input {
	padding: .4em 5px;
	margin: 0;
	display: inline-block;
	background: transparent none;
	outline: 0 !important;
	-webkit-appearance: none;
	min-height: 1.4em;
	line-height: 1.4em;
	font-family: Helvetica, Arial, sans-serif;
	color: #333;
	text-shadow: 0 1px 0 #fff;
	-webkit-rtl-ordering: logical;
	-webkit-user-select: text;
	cursor: auto;
	letter-spacing: normal;
	font: -webkit-small-control;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-align: start;
	-webkit-writing-mode: horizontal-tb;
}

.ui-border-solid {
	border: 1px solid #CCC;
}

.topPanel {
	padding: 0.3em 0em 0.3em 0em;
	border-bottom: #CCC solid 1px;
	background-color: #D9D9B3;
}

.searchDishOrdreIdInput {
	width: 10em;
	margin-left: 10em;
}

#dishOrderListViewBottom {
	position: fixed;
	left: 0px;
	right: 0em;
	bottom: 0em;
	padding: 0.3em 0.2em 0.5em 0.2em;
	background-color: #D9D9B3;
}

.dishOrderListPanel {
	position: absolute;
	top: 2.5em;
	right: 0em;
	left: 0em;
	bottom: 5em;
	padding: 1em .3em;
}

.dishOrderListPanel .captionPanel {
	padding: 0.2em 7.5em 0.2em 1em;
	background-color: #CCFFCC;
}

.dishOrderListPanel .dishOrderItemListPanel {
	padding: 0.2em;
	min-height: 1em;
	background-color: #EEE;
}

.dishOrderListPanel .orderItem {
	margin: 0.1em;
	display: inline-block;
	text-align: left;
	background-color: #CCC;
}

/************  function menu  **************/
.functionButtons {
	float: right;
	border-radius: 0.35em 0em 0em 0.35em;
	background-color: #A6A653;
	border-left: #CCC solid 2px;
	padding: 0.1em;
}

.functionButton {
	font-size: 1em;
	display: inline-block;
	margin: 2px;
	text-align: center;
	vertical-align: middle;
	padding: 0.3em;
	background-color: #CCC;
}

.functionMenuDialog {
	position: fixed;
	top: 12px;
	left: 8px;
	right: 8px;
	bottom: 12px;
	display: none;
	border-radius: 0.75em;
	background-color: #FFF;
}

.functionMenuDialog .cancelDiv {
	position: absolute;
	right: 3px;
	top: 3px;
	border-radius: 8em;
	width: 1em;
	text-align: center;
	background-color: #B4B4B4;
	padding: 3px;
	display: block;
	border: #CCC solid 1px;
}

.functionMenuDialog .topPanel {
	text-align: center;
	position: absolute;
	padding: 0.3em 0em 0.3em 0em;
	left: 0px;
	top: 0em;
	border-radius: 0.75em 0.75em 0em 0em;
	width: 100%;
	min-height: 1.6em;
	background-color: #D9D9B3;
}

.functionMenuDialog .functionMenuButtonSelector {
	position: absolute;
	top: 2.5em !important;
	right: 0em !important;
	left: 0em !important;
	bottom: 2.5em;
	padding: 1em;
}

.functionMenuDialog .controlPanel {
	position: absolute;
	left: 0px;
	bottom: 0px;
	padding: 0.3em 0em 0.3em 0em;
	text-align: center;
	border-radius: 0em 0em 0.75em 0.75em;
	width: 100%;
	background-color: #D9D9B3;
}

.functionMenuDialog .functionMenuButton {
	font-size: 1em;
	display: inline-block;
	margin: 2px;
	text-align: center;
	vertical-align: middle;
	padding: 0.5em;
	color: #FFF;
	background-color: #F63;
}

.functionMenuDialog .operationButton {
	font-size: 1em;
	display: inline-block;
	margin: 2px;
	text-align: center;
	vertical-align: middle;
	padding: 0.3em 0.5em;
	color: #FFF;
	background-color: #F63;
}

/************  dish order list dialog  *************/
.dishOrderListDialog {
	position: fixed;
	top: 3px;
	left: 3px;
	right: 3px;
	bottom: 3px;
	border-radius: 0.75em;
	background-color: #FFF;
}

.dishOrderListDialog .button {
	font-size: 1em;
	display: inline-block;
	margin: 2px;
	text-align: center;
	vertical-align: middle;
	padding: 0.3em 0.5em;
	color: #FFF;
	border-radius: 0em;
	background-color: #F63;
}

.dishOrderListDialog .cancelDiv {
	position: absolute;
	right: 3px;
	top: 3px;
	border-radius: 8em;
	width: 1em;
	text-align: center;
	background-color: #B4B4B4;
	padding: 3px;
	display: block;
	border: #CCC solid 1px;
}

.dishOrderListDialog .topPanel {
	position: absolute;
	padding: 0.3em 0em 0.3em 0em;
	left: 0px;
	top: 0em;
	width: 100%;
	border-radius: 0.75em 0.75em 0em 0em;
	border-bottom: #CCC solid 1px;
	background-color: #D9D9B3;
}

.dishOrderListDialog .searchInputPanel {
	padding: 0em 1em 0em 1em;
}

.dishOrderListDialog .titleOperatePanel {
	position: absolute;
	top: 0em;
	left: 32em;
}

.dishOrderListDialog .searchInput {
	width: 30em;
	background-color: #FFF;
}

.dishOrderListDialog .searchButton {
	margin-left: 10px;
}

.dishOrderListDialog .showDishOrderAllButton {
	margin-right: 2em;
}

.dishOrderListDialog .dishOrderListPanel {
	position: absolute;
	top: 3.5em;
	right: 0em;
	left: 0em;
	bottom: 2.5em;
	padding: 1em .3em;
}

.dishOrderListDialog .controlPanel {
	position: absolute;
	left: 0px;
	bottom: 0px;
	padding: 0.3em 0em 0.3em 0em;
	text-align: center;
	border-radius: 0em 0em 0.75em 0.75em;
	width: 100%;
	background-color: #D9D9B3;
}

.dishOrderListDialog .operationButton {
	font-size: 1em;
	display: inline-block;
	margin: 2px;
	text-align: center;
	vertical-align: middle;
	padding: 0.3em 0.5em;
	color: #FFF;
	background-color: #F63;
}

/****************** dish order ****************/
.dishOrderListDialog .dishOrder {
	position: relative;
	background-color: #FFF;
	border-top: 1px solid #ebebeb;
	width: 100%;
	min-height: 3em;
	max-height: 10em;
}

.dishOrderListDialog .captionPanel {
	padding: 10px;
	background-color: #D9D9B3;
}

.dishOrderListDialog .dishOrderItemListPanel {
	padding: 0.2em;
	min-height: 1em;
	background-color: #EEE;
}

.dishOrderListDialog .orderItem {
	margin: 0.1em;
	display: inline-block;
	text-align: left;
	background-color: #CCC;
}

.dishOrderListDialog .dishOrderOperationPanel {
	position: absolute;
	text-align: center;
	right: 0px;
	top: 0px;
	width: 4em;
	padding: 0.2em;
	display: block;
	border-left: 1px solid #ebebeb;
	right: 0px;
}